*{ 
    margin: 0; 
    padding: 0;  
} 
/* seccion de la barra de navegacion*/ 
.navbar{       
   position: absolute;                        
    background-color: black;                     
    border-radius: 30%;           
    bottom:  1%;           
    padding: 5%;            
    width: 89%;           
                
               
}                  
.inicio{     
    position: relative;   
    color: green;            
    text-decoration: none;             
    border: solid white;         
    border-radius:50px;             
    padding: 5px;           
     
}        
.contacto{ 
    position: relative; 
    color: green; 
    text-decoration: none; 
    left: 3%;  
    border: solid white; 
    border-radius:50px; 
    padding: 5px;  
     
} 
.galeria{ 
    position: relative; 
    color: green; 
    text-decoration: none; 
    left: 9%; 
    border: solid white; 
    border-radius:50px; 
    padding: 5px; 
    ; 
} 
.info{ 
    position: relative; 
    color: green; 
    text-decoration: none; 
    left: 15%; 
    border: solid white;  
    border-radius:50px; 
    padding: 5px; 
     
}   
.modelos{ 
    position: relative; 
    color: green; 
    left:  18%; 
    border: solid white;  
    border-radius: 50px;  
    padding: 5px; 
    text-decoration: none; 
}  
/* seccion de columna verde, donde van las redes*/  
.columna{ 
    background-color: green;  
    padding-bottom: 8px; 
     
     
} 
.whatsapp{ position: absolute; 
    color: rgb(56, 243, 39); 
    right: 4%; 
    border: solid rgb(255, 255, 255); 
    top: 20%; 
    text-decoration: none; 
}  
.facebook{ 
    position: absolute; 
    color: rgb(56, 243, 39); 
    right: 25%; 
    border: solid black; 
    top: 20%; 
    text-decoration: none; 
} 
.instagram{ 
    position: absolute; 
    color: rgb(56, 243, 39); 
    right: 45%; 
    border: solid rgb(255, 255, 255); 
    top:20% ; 
    text-decoration: none; 
} 
.h1{ 
    font-style: oblique; 
} 
/* img1*/ 
.img1{  
    width: 393px; 
    height: 300px; 
}  
.img2{ 
    width: 393px; 
    height: 280px; 
} 
/* seccion de contacto*/ 
 
.fondo{ 
    position: relative; 
    background-color: black; 
    width: 393px; 
    height: 750px; 
}  
.navbar2{ 
    position: absolute; 
    background-color: black; 
    bottom:  1%; 
    padding: 5.4%; 
    width: 89%; 
} 
.form_control{ 
    color: aqua; 
    padding: 10%; 
     
} 
.textc1{ 
    position: relative; 
    color: aquamarine; 
}  