* {
    margin: 0 ;
    padding: 0 ;

} 
 
 
.navegacion {
   
    background-color: rgb(59, 235, 59) ;
    padding: 5px;
    
 
    
}
 
 li{
    list-style: none;
    
 }

 .nav-contenedor{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   
   
 } 

.links{
    text-decoration: none;
    font-size: 65%;
    color: black;
    border: solid black;
    border-radius: 10px;
    padding: 1px;
}
/* sector de redes*/
.columna{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
     width: 100%;
    height: 30px;
    bottom: 0;
}

.instagram{
    position: relative;
    color: rgb(26, 214, 26);
    border: solid rgb(26, 214, 26);
    border-radius:30px;
    padding: 2px;
    text-decoration: none;
    font-size: 70%;
    right: 35%;


} 
.facebook{
    position: relative;
    color: rgb(26, 214, 26);
    border: solid rgb(26, 214, 26);
    border-radius:30px;
    padding: 2px;
    text-decoration: none;
    font-size: 70%;
    

}
.whatsapp{
    position: relative;
    color: rgb(26, 214, 26);
    border: solid rgb(26, 214, 26);
    border-radius:30px;
    padding: 2px;
    text-decoration: none;
font-size: 70%;
left: 35%;

}
/* img y h1*/
.imgyh1{
    position: absolute;
    display: flex;
    width: 100%;
}
.img1{
    position: absolute;
    width: 100%;
    height: 100px;
}
.h1{
    position: relative;
    font-style: oblique;
}
/* primer parte*/
.primeraparte{
    position: absolute;
    display: flex;
    width: 100%;
    height: 150px;
    top: 21%;
}
.text1{
    position: relative;
    font-size: 60%;
    justify-content: center;
}
/* sunda parte*/

.segundaparte{
    position: absolute;
    display: flex;
    width: 100%;
    height: 150px;
    top: 45.5%;
    flex-direction: column;
}
.text2{
    font-size: 60%;
}
.img2{
    position: relative;
    width: 50%;
    height: 100%;
}
.img3{
    width: 100%;
    height: 200px;
}
/* sector contacto*/
.columna2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
.textc1{
    color: aqua;
}
.form_control{ 
    position: relative;
    color: aqua;
    left: 20%;
   
}
.contc{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 10%;
}
/* SECtor infoh2*/

.primerparte{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}
.titulo1{
       
    font-size: 150%;
    color: rgb(35, 199, 35);
}

.texth1{
    position: relative;
    font-size: 42%;
    left: 15%;
}
.titulo2{
    font-size: 150%;
    color: rgb(35, 199, 35);
}

.texth2{
    position: relative;
    font-size: 40%;
    top: 41%;
    right: 19%;
}
.imgh1{
    width: 50%;
    height: 300px;

}
.segundparte{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 57%;
   
}
.conse{
    position: absolute;
    width: 50%;
    top: 45%;
    font-size: 80%;
    border: solid rgb(46, 199, 46);
    border-radius: 120px;
    color: black;
}
.imgh2{
    position: relative;
    width: 45%;
    height: 100%;
    left: 52%;
}
/* sector de modelos*/
.primerseccion{
    position: absolute;
    display: flex;
    width: 100%;
    height: 400px;
   
}
.imgm1{
    position: absolute;
   width: 50%;
   height: 250px;
   top: 5%;   
}
.texto1{ 
    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 95%;
}
.mh1{
    position: relative;
    left: 50%;
    top: 1%;
    font-size: 100%;
    font-style: oblique;
    color: rgb(30, 211, 30);
}
.mh2{
    position: relative;
    font-size: 80%;
    font-style: oblique;
    right: 30%;
    top: 65%;
}
.segundaseccion{
    position: absolute;
    display: flex;
    top: 60%;
    width: 100%;
    height: 210px;
    
}
.kawa{
    position: relative;
    width: 45%;
}
.kawatex{
    position: relative;
    font-size: 60%;
    top: 20%;
}
/* sector de galeria*/
.columna3{
    position: absolute;
   display: flex;
   background-color: black;
   width: 100%;
   height: 93%;
}
.galeria1{
    position: relative;
    left: 1%;
    width: 200px;
    height: 200px;
}
.galeria2{
    position: relative;
    left: 3%;
    width: 200px;
    height: 200px;
}
.galeria3{
    position: relative;
    right: 90%;
    top: 30%;
    width: 506px;
    height: 250px;
}
.video{
    position: relative;
  width: 300px;
  height: 200px;
  right: 170%;
  top: 70%;

} 

/* parte de gridss*/

@media(min-width:600px) and (max-width:800px){
    .navegacion{
        padding: 20px;
    }
    .links{
        font-size: 75%;
        color: black;
        border: solid black;
        border-radius: 30px;
        padding: 5px;
    }
    .columna{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: black;
         width: 100%;
        height: 50px;
        bottom: 0;
    }
    
    .instagram{
        position: relative;
        color: rgb(26, 214, 26);
        border: solid rgb(26, 214, 26);
        border-radius:30px;
        padding: 4px;
        text-decoration: none;
        font-size: 85%;
        right: 35%;
    
    
    } 
    .facebook{
        position: relative;
        color: rgb(26, 214, 26);
        border: solid rgb(26, 214, 26);
        border-radius:30px;
        padding: 4px;
        text-decoration: none;
        font-size: 85%;
        
    
    }
    .whatsapp{
        position: relative;
        color: rgb(26, 214, 26);
        border: solid rgb(26, 214, 26);
        border-radius:30px;
        padding: 4px;
        text-decoration: none;
    font-size: 85%;
    left: 35%;
    
    }
    /* img y h1*/
    .imgyh1{
        position: absolute;
        display: flex;
        width: 100%;
    }
    .img1{
        position: absolute;
        width: 100%;
        height: 130px;
    }
    .h1{
        position: relative;
        font-style: oblique;
        font-size: 145%;
    }
    /* primer parte*/
    .primeraparte{
        
        position: absolute;
        display: flex;
        width: 100%;
        height: 200px;
        top: 23.5%;
    }
    .text1{
        position: relative;
        font-size: 90%;
        justify-content: center;
        top: 20%;
    }
    .img2{
        position: relative;
        width: 50%;
        height: 100%;
    }

    /* segunda parte*/
    
    .segundaparte{
        position: absolute;
        display: flex;
        width: 100%;
        height: 450px;
        top: 49%;
        flex-direction: column;
        
    }
    .text2{
        font-size: 90%;
    }
    .img3{
        width: 100%;
        height: 250px;
    }
    /* sector contacto**************/
.columna2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
.textc1{
    position: absolute;
    top: 15%; 
    color: aqua;
}
.form_control{ 
    position: absolute;
    color: aqua;
    top: 30%;
    left: 30%;
   
}
.contc{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 10%;
}
/* SECtor infoh2*/

.primerparte{
    
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 420px;
}
.titulo1{
       
    font-size: 300%;
    color: rgb(35, 199, 35);
}

.texth1{
    position: relative;
    font-size: 52%;
    left: 17%;
}
.titulo2{
    font-size: 300%;
    color: rgb(35, 199, 35);
}

.texth2{
    position: relative;
    font-size: 55%;
    top: 51%;
    right: 20%;
}
.imgh1{
    width: 50%;
    height: 400px;

}
/* segunda parte*/
.segundparte{
    
    position: absolute;
    width: 100%;
    height: 460px;
    top: 55%;
   
}
.conse{
    position: relative;
    left: 10%;
    top: -25%;
    font-size: 80%;
    border: solid rgb(46, 199, 46);
    border-radius: 120px;
    color: black;
}
.imgh2{
    position: relative;
    width:320px ;
    height:250px ;
    left: 15%;
    top: 10%;
}
/* sector de modelos*/
.primerseccion{
    
    position: absolute;
    display: flex;
    width: 100%;
    height: 400px;
   
}
.imgm1{
    position: absolute;
   width: 50%;
   height: 300px;
   top: 5%;   
}
.texto1{ 
    position: absolute;
    left: 50%;
    top: 20%;
    font-size: 95%;
}
.mh1{
    position: relative;
    left: 60%;
    top: 5%;
    font-size: 150%;
    font-style: oblique;
    color: rgb(30, 211, 30);
}
.mh2{
    position: relative;
    font-size: 80%;
    font-style: oblique;
    right: 10%;
    top: 75%;
}
.segundaseccion{
    
    position: absolute;
    display: flex;
    top: 60%;
    width: 100%;
    height: 250px;
    
}
.kawa{
    position: relative;
    width: 45%;
}
.kawatex{
    position: absolute;
    font-size: 100%;
    top: 5%;
    left: 50%;
}
.columna3{
    position: absolute;
   display: flex;
   background-color: black;
   width: 100%;
   height: 87%;
}
.galeria1{
    position: relative;
    left: 1%;
    width: 270px;
    height: 270px;
}
.galeria2{
    position: relative;
    left: 3%;
    width: 300px;
    height: 270px;
}
.galeria3{
    position: relative;
    right: 70%;
    top: 40%;
    width: 506px;
    height: 200px;
}
.video{
    position: relative;
  width: 450px;
  height: 200px;
  right: 120%;
  top: 70%;

} 
}
